body {
    background-image: url(https://wallpapers.com/images/featured/light-blue-2iuzyh711jo9bmgo.jpg);
}

/* main {
    display: flex;
    align-items: center;
} */

.options, .villalist, header {
    background-color: lightblue;
}

.villalist {
    display: block;
    width: 90%;
}

.options {
    display: inline-flex;

}

.date, .numlistings, .loadmore, .displaymode {
    margin: 0 10px;

}

.villa {
    display: inline-flex;
    width: 80%;
    border: 3px solid rgb(39, 183, 255);
}

.villa p {
    margin: 0;
}

.villa div {
    width: 25%;
}